<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="project2ConnectionString" connectionString="Data Source=LAPTOP-Q1V6AQUO\SQLEXPRESS;Initial Catalog=project2;Persist Security Info=True;User ID=sa;Password=Zakirdandu456@#~"
      providerName="System.Data.SqlClient" />
    <add name="NIKEConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\ZAKIR\ONEDRIVE\DOCUMENTS\NIKE.MDF;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>